<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template Management</title>
</head>
<body>

<!-- 1. SYSTEM TITLE -->
<h1>Template Management</h1>
<hr/>

<!-- 2. PAGE HEADING -->
<h2>View Template Info</h2>

<!-- 3. READ-ONLY DETAIL TABLE -->
<table border="0" cellpadding="5">
    <!-- Copy thẻ <tr> ra theo sô lượng filed muốn hiển thị-->
    <tr>
        <td><label for="templateString">Template String:</label></td>
        <td>
            <input type="text" id="templateString" th:value="${templateDto.templateString}" readonly/>
        </td>
    </tr>

    <!-- 4. ACTION BUTTON (BACK ONLY) -->
    <tr>
        <td></td>
        <td>
            <a th:href="@{/template}">
                <button type="button">Back</button>
            </a>
        </td>
    </tr>
</table>

</body>
</html>
